{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login | LinkMarket</title>
</head>
<body>
    <div class="container">
        <form class="form" method="post">
            <span class="signin">Sign In</span>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errorlist nonfield-errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="errorlist">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="form--submit" type="submit">Sign in</button>
            <p class="signup-text">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </form>
    </div>
</body>
</html>
