{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/category_confirm_delete.css' %}">
    <title>Delete Category</title>
</head>
<body>
    <div class="confirmation-container">
        <h1>Confirm Category Deletion</h1>
        <p>Are you sure you want to delete "{{ category.name }}"?</p>
        <div class="buttons">
            <form id="delete-form" action="" method="post">
                {% csrf_token %}
                <button type="submit" class="delete-button">Delete</button>
            </form>
            <a href="{% url 'category_list' %}" class="cancel-button">Cancel</a>
        </div>
    </div>
</body>
</html>


